# Build artifacts
src/miniweather_mpi_omp
src/miniweather_mpi_cuda
src/*.o

# Apptainer image
env/project.sif

# Results and plots (generated)
results/*.png
results/*.svg
results/*.pdf
results/*.csv
results/*.qdrep
results/*.nsys-rep

# Slurm outputs
*.out
